.top_mv {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: -80px;
		width: 100%;
		height: 500px;
		z-index: -1;
	}
}

.top_mv_contents {
	padding-top: 100px;
	margin: 0 auto;
	position: relative;
	background-image: url(../../img/4834414_s.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 900px;
	font-family: 'Noto Sans JP', sans-serif;
	line-height: 70px;
	img {
		width: 100%;
		height: 820px;
		object-fit: cover;
	}
	.position {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		color: #fff;
		text-shadow: 0 1px 3px #000000;
	}
	.top_mv_title {
		font-size: 48px;
		letter-spacing: 3px;
	}
	.top_mv_text {
		font-size: 28px;
		margin-top: 10px;
	}
}

.message {
	margin-top: 200px;
	position: relative;
	h2 {
		text-shadow: 0 2px 2px #3636363b;
		text-align: left;
		font-size: 36px;
		color: #87b61a;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			height: 1px;
			width: 70px;
			background-color: #92c41d;
		}
	}
}

.message_details {
	text-align: left;
	writing-mode: vertical-rl;
	margin: 50px auto 0;
	font-family: "Noto Serif JP", serif;
}

.message_text {
	font-size: 18px;
	margin-right: 35px;
	line-height: 2.2;
}

.message_img {
	opacity: 0.3;
	z-index: -1;
}

.img_1 {
	position: absolute;
	top: 0;
	right: 0;
	img {
		width: 600px;
		height: 450px;
		object-fit: cover;
	}
}
.img_2 {
	position: absolute;
	bottom: -30px;
	left: 100px;
	img {
		width: 350px;
		height: 250px;
		object-fit: cover;
	}
}

.about {
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	h2 {
		color: #87b61a;
	}
}

.about_container {
	margin-top: 70px;
}

.about_card {
	margin-bottom: 70px;
	color: #ffffff;
	position: relative;
	&:nth-child(3) {
		margin-bottom: 0;
	}
	img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		opacity: 0.9;
	}
	h3 {
		font-size: 36px;
		text-align: center;
		position: relative;
		margin-top: 10px;
		span {
			position: absolute;
			left: 50%;
			top: 40px;
			transform: translateX(-50%);
			font-size: 18px;
		}
	}
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		background: #7777776c;
		width: 100%;
		height: 100%;
	}
}

.about_number {
	text-align: center;
	font-size: 28px;
	z-index: 100;
	span {
		transform: translateY(-18px);
		display: block;
	}
	&::before {
		content: "";
		width: 42%;
		height: 1px;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}
	&::after {
		content: "";
		width: 42%;
		height: 1px;
		background: #fff;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.about_contents {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 200px;
	z-index: 10;
	border: 1px solid #fff;
	border-top: none;
}

.about_text {
	line-height: 30px;
	margin-top: 20px;
	padding: 30px 60px;
	letter-spacing: 1.5px;
}

.work {
	margin-top: 150px;
	margin-bottom: 150px;
	h2 {
		color: #87b61a;
		margin-bottom: 60px;
		span {
			top: 90px;
		}
	}
	.work_container {
		padding: 60px 90px;
		background-color: #f1f1f1;
		.work_item{
			max-width: 450px;
			width: 100%;
			img{
				width: 100%;
				box-shadow: 10px 10px 20px rgb(136, 136, 136);
			}
			a{
				h3{
					margin-top: 30px;
					text-decoration: underline;
					// font-weight: bold;
					font-size: 18px;
					letter-spacing: 2px;
					line-height: 30px;
					text-align: center;
					transition: .2s;
					&:hover{
						color: #87b61a;
						transition: .2s;
					}
				}
			}
		}
	}
}
.company {
	margin-top: 150px;
	margin-bottom: 150px;
	h2 {
		color: #87b61a;
		span {
			top: 90px;
		}
	}

}
.company_container {
	margin-top: 70px;
	background-image: url(../../img/s-o-c-i-a-l-c-u-t-1RT4txDDAbM-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	font-weight: bold;
	color: #fff;
	position: relative;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		background: #ffffff3f;
		width: 100%;
		height: 100%;
	}
	.company_text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h3{
			font-size: 48px;
			text-align: center;
		}
		p{
			font-size: 24px;
			text-align: center;
			margin-top: 30px;
		}
	}
}

.contact {
	h2 {
		color: #87b61a;
		margin-bottom: 50px;
	}
	.contact_wrap{
		padding: 70px 0;
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../../img/artur-luczka-loAfOVk1eNc-unsplash.jpg);
		position: relative;
		.contact_inner{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			p{
				color: #fff;
				text-align: center;
				font-size: 28px;
				font-weight: bold;
			}
			.contact_btn {
				width: 500px;
				font-size: 22px;
				font-weight: bold;
				padding: 25px 0;
				background-color: #ffffff;
				border: 1px solid #7ba02a;
				color: #719622;
				transition: 0.6s;
				text-align: center;
				position: relative;
				box-shadow: 0 10px 10px #0000005e;
				z-index: 100;
				margin-top: 30px;
				&:hover {
					transform: translateY(-5px);
					box-shadow: 0 15px 20px #0000005e;
				}
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					right: 50px;
					width: 10px;
					height: 10px;
					border-right: 1px solid #7ba02a;
					border-top: 1px solid #7ba02a;
					transform: rotate(45deg) translateY(-80%);
				}
			}
		}
	}
}



////////////////// max-width: 1024px; //////////////////

@media screen and (max-width: 1024px) {
	.top_mv_contents {
		.top_mv_title {
			font-size: 28px;
		}
		.top_mv_text {
			font-size: 20px;
		}
	}

	.img_1 {
		img {
			width: 250px;
			height: 250px;
			object-fit: cover;
		}
	}

	.img_2 {
		position: absolute;
		bottom: 30px;
		left: 0;
		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
		}
	}

	.message_details {
		writing-mode: unset;
		text-align: center;
	}

	.message_text {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.about_contents {
		margin-left: 50px;
		margin-right: 50px;
	}

	.about_text {
		padding: 20px 50px;
	}

	.about_card {
		h3 {
			font-size: 28px;
		}
	}

	.work {
		padding-top: 50px;
		&::before {
			height: 250px;
		}
	}

	.work_container {
		margin-top: 30px;
		padding: 20px 40px;
	}

	.work_item {
		text-align: center;
		margin: 10px auto;
		br {
			display: block;
		}
		h3 {
			font-size: 16px;
			height: 65px;
		}
	}

	.work_text {
		font-size: 18px;
	}

	.contact {
		padding: 40px 0;
		h2 {
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 90px;
				width: 1px;
				height: 40px;
				background-color: #ffffff;
			}
		}
	}

	.contact_btn {
		max-width: 350px;
		width: 90%;
		font-size: 16px;
		padding: 15px 0;
	}
}

////////////////// max-width: 599px; //////////////////

@media screen and (max-width: 599px) {
	.top_mv {
		&::before {
			height: 200px;
		}
	}

	.top_mv_contents {
		height: 700px;
		line-height: normal;
		background-position: -300px;
		.top_mv_title {
			font-size: 24px;
		}
		.top_mv_text {
			font-size: 16px;
		}
	}

	.message {
		margin-top: 150px;
	}

	.message h2 {
		font-size: 24px;
	}

	.message_text {
		font-size: 14px;
	}

	.about {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 50px;
		h2{
			font-size: 38px;
			span{
				top: 45px;
			}
		}
	}

	.about_container {
		margin-top: 30px;
	}

	.about_contents {
		margin-left: 10px;
		margin-right: 10px;
	}

	.about_text {
		padding: 10px;
		font-size: 14px;
	}

	.about_card {
		margin-bottom: 30px;
		h3 {
			font-size: 22px;
			span {
				top: 25px;
			}
		}
	}

	.work {
		padding-top: 30px;
		margin-top: 0;
		margin-bottom: 30px;
		h2{
			font-size: 38px;
			margin-bottom: 30px;
			span{
				top: 45px;
			}
		}
		.work_container {
			padding: 20px;
			.work_item {
				a{
					h3 {
						font-size: 18px;
						height: auto;
						margin-bottom: 20px;
					}
				}
				img{
					box-shadow: 5px 5px 10px #888888;
				}
			}
		}
	}



	.work_text {
		font-size: 14px;
		margin: 30px 0;
		line-height: normal;
	}

	.company {
		margin-top: 50px;
		margin-bottom: 50px;
		h2{
			font-size: 38px;
			span{
				top: 45px;
			}
		}
	}
	.company_container{
		margin-top: 30px;
		height: 300px;
		.company_text{
			h3{
				font-size: 28px;
			}
			p{
				margin-top: 10px;
				font-size: 14px;
				font-weight: normal;
			}
		}
	}

	.company_table {
		margin: 30px auto 0;
	}

	tbody {
		font-size: 12px;
		tr {
			.table_name {
				padding: 10px 0 10px 15px;
			}
			.table_txt {
				padding: 10px 0 10px 15px;
				line-height: 20px;
			}
		}
	}

	.contact {
		h2{
			font-size: 38px;
			margin-bottom: 30px;
			span{
				top: 45px;
			}
		}
		.contact_wrap{
			height: 200px;
		}
	}
.contact{
	padding: 0;
	.contact_wrap{
		.contact_inner{
			p{
				font-size: 18px;
			}
			.contact_btn {
				font-size: 14px;
				margin-top: 10px;
				padding: 10px 0;
				width: 280px;
			}
		}
	}
}
}
